.athlete-card{
    width: 600px;
}

.athlete-container .athlete-form .athlete-full-width{
    width: 100%;
}

.achivements{
    display: flex;
    justify-content: space-between;
}

.contry-block{
    display: flex;
    justify-content: flex-start;
}
.contry-block > mat-form-field{
    margin-right: 20px;
}