.filter-block{
    margin-top: 10px;
}

.filter-block .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.filter-list{
    display: flex;
    flex-wrap: wrap;
}

.filter-box {
    border:1px solid black;
    margin: 0 10px 10px 0;
    padding: 5px 30px 5px 5px;
    position: relative;
}

.icon-close.material-icons{
    font-size: 14px;
    border:1px solid;
    border-radius: 50%;
    height:15px;
    width:15px;
    text-align: center;
    right: 2px;
    top: 2px;
    position: absolute;
    cursor: pointer;
}

.clear-all-btn{
    float: right;
}